<h1>Contact form</h1>
<form action = "/submit" method="post">
    Name: <input type="text" required name="nm"><br>
    Email: <input type="email" required name="em"><br>
    <input type="submit">
</form>