<h1>Student Details</h1>
<form action = "/submit" method="post">
    Name: <input type="text" required name="nm"><br>
    Marks: <input type="number" required name="marks" min = "0" max="25"><br>
    <input type="submit">
</form>