<h1>Student Details</h1>
<form action = "/submit" method="post">
    Name: <input type="text" required name="nm"><br>
    T1: <input type="number" required name="T1" min = "0" max="25"><br>
    T2: <input type="number" required name="T2" min = "0" max="25"><br>
    T3: <input type="number" required name="T3" min = "0" max="25"><br>
    T4: <input type="number" required name="T4" min = "0" max="25"><br>
    <input type="submit">
</form>